//*Colors
$white: #F2F2F0;
$orange: #F28705;
$lightGrey: #D9CDBF;
$grey: rgba(57,62,70,.83);
$fullGrey: rgb(57,62,70);
$darkGrey: rgb(34,40,49);


$col_header: linear-gradient(90deg, #A67153 0%, #F28705 50%, #A64F03 100%);
$col_navbar_title: $white;
$col_navbar_items: $white;
$col_navbar_items-highlighted: $white;
$col_navbar_overlay: $grey;

$col_outerContent: $darkGrey;
$col_innerContent: $fullGrey;

$col_mainText: $white;
$col_headings: $orange;


//*Fonts
@font-face {
    font-family: "BAHNSCHRIFT";
    src: url("/assets/fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: "SourceCodePro";
    src: url("/assets/fonts/SourceCodePro.ttf");
}

$font-headings: "SourceCodePro";
$font-text: "SourceCodePro";
