//*Colors
$white: #f2f2f0;
$orange: #F28705;
$brown: #a67153;
$redBrownish: #A64F03;
$grey: rgba(57,62,70,.83);
$fullGrey: rgb(57,62,70);
$lightGrey: #ccc;


$col_header: linear-gradient(90deg, $brown 0%, $orange 50%, $redBrownish 100%);
$col_navbar_title: $white;
$col_navbar_items: $white;
$col_navbar_items-highlighted: $white;
$col_navbar_overlay: $grey;

$col_content: $fullGrey;

$col_mainText: $white;
$col_headings: $orange;

$col_primary_boxShadow: 1px 3px 5px $brown;
$col_secondary_boxShadow: 0px 0px 0px .375rem rgba($orange, .83);

$col_borderCard: $orange;
$col_borderCardBtn: rgba($white, .25);
$col_borderCardBtnHover: rgba($white, .1);

$col_input_Border: 2px solid $brown;
$col_input_Background: $fullGrey;

$col_submissionInfo_background: $orange;


//*Fonts
@font-face {
    font-family: "BAHNSCHRIFT";
    src: url("/assets/fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: "SourceCodePro";
    src: url("/assets/fonts/SourceCodePro.ttf");
}


$font-title: "BAHNSCHRIFT";
$font-headings: "SourceCodePro";
$font-text: "SourceCodePro";
