@import "variables";



html {
    box-sizing: border-box;
    font-size: 10px;
    color: $col_mainText;
    background-color: $col_innerContent;
    font-family: $font-text;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


//*Main elements
/* #region Main elements */
img {
    display: block;
    width: 100%;
    height: auto;
}

#mainContent {
    background-color: $col_innerContent;
}

/* #endregion */


//*Text
/* #region Text */
h1 {
    color: $col_headings;
    font-family: $font-headings;


    // font-size: clamp(2.8rem, calc(3rem + 1vw), 5rem);
}
h2{
    color: $col_headings;
    font-size: clamp(2.2rem, calc(2rem + .8vw), 4rem);
}


.mainText {
    font-size: clamp(15px, calc(1rem + .6vw), 2rem);
    white-space: pre-line;
}

.ruler{
    border: 1px solid $col_headings;
}

#aboutHeading, #projectsHeading{
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.blinkCursorEnd, .blinkCursorStart{   
    display: inline-block;
    position: absolute;
    top: 10%;
}

/* #endregion */

//* About

#portrait img {
    border-radius: 8px;
}


//*Media query
@media only screen and (max-width: 991px) {

    /* #region  Text */
    #about h1{
        text-align: center;
    }

    /* #endregion */
}

@media only screen and (max-width: 767px) {

    #portrait {
        max-width: 420px;
    }

}