@import "variables";

//*Navigation

#navbar h1 {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $col_navbar_title;
    font-size: 3rem;
    font-family: $font-title;
}

#header {
    position: sticky;
    top: 0;
    height: 150px;
    z-index: 1;
    margin: 0 auto 100px auto;
    transform: translateX(0);
    transition: transform 1s;

    /* #region  On scroll */
    &.headerOnScroll {
        background: $col_header;
        transform: translateY(-50px);
    }
    /* #endregion */

}

#navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

#header.headerOnScroll #navbar{
    justify-content: center;
}

.navbar__menu {

    list-style-type: none;
    display: flex;

    li {
        padding: 15px;

        a {
            cursor: pointer;
            text-decoration: none;
            font-weight: 600;
            color: $col_navbar_items;
            font-size: 2.5rem;

            &:hover,
            &:active {
                color: $col_navbar_items-highlighted;
            }

            &.active {
                padding-bottom: 10px;
                border-bottom: 3px solid $col_navbar_items-highlighted;
            }
        }
    }

    li:not(:last-child) {
        margin-right: 5px;
    }

}

#hamburger {
    color: $col_navbar_items;
    display: none;
    padding: 15px;

    svg{
        font-size: 3.5rem;
    }
}




//*Media query
@media only screen and (max-width: 991px) {

    #hamburger {
        display: block;
    }

    #header.headerOnScroll #navbar {
        justify-content: flex-end;
    }

    .navbar__menu {
        position: fixed;
        left: -100%;
        top: 150px;
        flex-direction: column;
        background-color: $col_navbar_overlay;
        width: 100%;
        height: 90vh;
        z-index: 999;
        align-items: center;
        transition: .3s;
        justify-content: center;
    }

    .navbar__menu.active {
        left: 0;
    }
}