@font-face {
  font-family: "BAHNSCHRIFT";
  src: url("/assets/fonts/BAHNSCHRIFT.TTF");
}
@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/fonts/SourceCodePro.ttf");
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  color: #F2F2F0;
  background-color: rgb(57, 62, 70);
  font-family: "SourceCodePro";
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* #region Main elements */
img {
  display: block;
  width: 100%;
  height: auto;
}

#mainContent {
  background-color: rgb(57, 62, 70);
}

/* #endregion */
/* #region Text */
h1 {
  color: #F28705;
  font-family: "SourceCodePro";
}

h2 {
  color: #F28705;
  font-size: clamp(2.2rem, 1.8rem + 0.8vw, 4rem);
}

h3 {
  font-size: clamp(1.8rem, 2rem + 0.8vw, 2.5rem);
}

.mainText {
  font-size: clamp(15px, 1rem + 0.6vw, 2rem);
  white-space: pre-line;
}

.card__description,
.card__details,
.card__link {
  font-size: clamp(12px, 1rem + 0.5vw, 1.8rem);
  white-space: pre-line;
}

#personalInfoList li {
  font-size: 1.5rem;
}

.card__link {
  color: #F2F2F0;
  text-decoration: none;
  display: block;
  margin-top: 15px;
}
.card__link:hover {
  text-decoration: underline;
}

#aboutHeading,
#projectsHeading,
#cvHeading {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.aboutHeading__blinkCursorEnd,
.aboutHeading__blinkCursorStart,
.projectsHeading__blinkCursorEnd,
.projectsHeading__blinkCursorStart,
.cvHeading__blinkCursorEnd,
.cvHeading__blinkCursorStart {
  display: inline-block;
  position: absolute;
  top: 10%;
}

/* #endregion */
.rulerRow {
  margin-top: 10rem;
}

.ruler {
  border: 1px solid #F28705;
}

#portrait img, .slides {
  border-radius: 50%;
}

#projects {
  margin-top: 10rem;
}

/* #region  card */
.card {
  width: 100%;
  background-color: transparent;
  border: 1px solid #F28705;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 1px 3px 5px #A64F03;
          box-shadow: 1px 3px 5px #A64F03;
  row-gap: 15px;
}
.card img {
  border-radius: 4px 4px 0 0;
}

.card__title {
  margin: 0 15px;
}

.card__description {
  margin: 0 15px;
}

.card__details {
  margin: 0 15px;
  display: none;
}

.card__btn {
  width: calc(100% - 30px);
  height: 45px;
  display: block;
  margin: 15px auto 10px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(242, 242, 240, 0.25);
  cursor: pointer;
  font-size: clamp(1.6rem, 1.5rem + 0.8vw, 2rem);
  color: #F2F2F0;
}
.card__btn:hover {
  background-color: rgba(242, 242, 240, 0.1);
}

.card__link svg {
  vertical-align: bottom;
  font-size: 2.5rem;
}

/* #endregion */
#cv {
  margin-top: 10rem;
}
#cv .ruler:not(.rulerRow .ruler) {
  border: 2px solid #F28705;
}
#cv img {
  border-radius: 0.25rem;
  border: 8px solid #F28705;
}

#cvHeading {
  margin-bottom: 15px;
}

#personalInfoList {
  margin-top: 12px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  #personalInfoList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #personalInfoList li {
    padding: 8px;
  }
}
@media only screen and (max-width: 991px) {
  /* #region  Text */
  #aboutHeading,
#projectsHeading,
#cvHeading {
    margin-inline: auto;
  }
  /* #endregion */
}
@media only screen and (max-width: 767px) {
  #portrait {
    max-width: 420px;
    margin-inline: auto;
  }
}
@media only screen and (max-width: 485px) {
  #projects .container-lg .row > .colOfCards.px-4 {
    padding-inline: 1rem !important;
  }
}
@media only screen and (min-width: 800px) and (max-width: 991px) {
  .card {
    max-width: 335px;
    margin-inline: auto;
  }
}/*# sourceMappingURL=App.css.map */